<div class="flex flex-col ml-10 w-1/2">
  <p style="color: green"><%= notice %></p>
  <h1 class="text-4xl font-semibold mb-8">Events</h1>

  <div id="events">
    <% @events.each do |event| %>
      <div class="border-2 border-gray-200 p-4 mb-4 w-fit">
        <%= render event %>
        <div class="flex flex-row space-x-4">
          <%= link_to "Show this event", event, class: "text-blue-700 underline"%>
          <%= link_to "Purchase ticket", new_ticket_path(event_id: event.id), class: "text-blue-700 underline"%>
          <%= link_to "List tickets", tickets_path(event_id: event.id), class: "text-blue-700 underline"%>
        </div>
      </div>
    <% end %>
  </div>

  <div class="flex flex-row justify-between w-full">
    <%= link_to "New event", new_event_path, class: "rounded-lg border-gray-200 border-2 p-2 w-fit" %>
    <%= link_to "List tickets", tickets_path, class: "rounded-lg border-gray-200 border-2 p-2 w-fit" %>
  </div>

</div>


